.footer {
  text-align: center;
  padding: .75em 0;
  font-family: Lato;
  font-weight: 100;
  background-color: darken($footer, 10%);
  color: $cream;
  font-size: .9em;

  .fa-heart, .fa-code {
    color: #bdc3c7;
  }

  a {
    color: $cream;
    display: inline-block;
    padding: 0 2px;

    &:hover {
      color: darken($cream, 20%);
    }
  }
}
